.carousel{
    position: relative;
    width: 100%;
    height: 415px;
}

.carousel_wrapper{
    width: 100%;
    height: 100%;
}

.carousel_card{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.7s ease-in-out;
}

.carousel_card-active{
    opacity: 1;
    transform: scale(1);
    pointer-events: visible;
}

.carousel_pic{
    width: 100%;
    height: 415px;
    object-fit: cover;
    border-radius: 25px;
}

.carousel_arrow_left,
.carousel_arrow_right{
    position: absolute;
    width: 40px;
    cursor: pointer;;
    top: 40%; 
}

.carousel_arrow_left{
    left: 40px;
}
.carousel_arrow_right{
    right: 40px;
}
.carousel_arrow_none{
    display: none;
}
.carousel_pagination{
    position: absolute;
    bottom: 10px;
    left: 50%;
    color: white;
}

@media only screen and (max-width: 700px){
    .carousel{
        height: 255px;
    }
    .carousel_pic{
        height: 255px;
    }
    .carousel_arrow_left,
    .carousel_arrow_right{
        width: 12px;
        height: 19px;
        top: 45%; 
    }
    .carousel_arrow_left{
        left: 6px;
    }
    .carousel_arrow_right{
        right: 6px;
    }
    .carousel_pagination{
        display: none;
    }
}