.header-layout {
    display: flex;
    margin: auto;
    margin-top: 40px;
    width: 100%;
    margin-bottom: 50px;
    justify-content: space-between;
}

.header-nav-bar{
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    
}

.aboutShrink {
    width: 145px;
}

header nav a:focus{
    text-decoration: none;
}

@media only screen and (max-width: 700px){
    .header-nav-bar{
        font-size: 12px;
        gap: 20px;
    }
    .logo {
        width: 145px;
    }
    .aboutShrink {
        width: 80px;
    }
}