:root {
    --primary: #FF6060;
    --bgcolor: #f7f7f7;
    --textSize: 24px;
    --padding: 20px
}
.toggle_list{
    width: 83%;
    margin: auto;
 }
 
.toggle{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    background-color: var(--bgcolor);
    border-radius: 10px;
    min-height: fit-content;
}

.toggle-bar{
    width: 100%;
    height: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    color: white;
    background-color: var(--primary);
    font-size: var(--textSize);
}

.toggle-title{
    font-size: var(--textSize);
    font-weight: 500;
    padding-left: var(--padding);
}

.toggle-animation{
    align-content: center;
}
.arrow{
    width: 29px;
    padding-right: 20px;
    
}

.toggle-content{
    color: var(--primary);
    width: 95%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: var(--padding);
    display: flex;
    flex-direction: column;
    font-size: var(--textSize);

    animation: slideUp .9s forwards;
}


@keyframes slideUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(10px);
    }
}



@media only screen and (max-width: 700px) {
    .toggle_list{
        width: 100%;
        margin: 0;
    }
    .toggle{
        width: 100%;
    }
    .toggle-bar{
        height: 30px;
    }
    .toggle-title{
        font-size: 13px;
    }
    .toggle-content{
        font-size: 12px;
    }
    .arrow{
        width: 15px;
        padding-bottom: 3px;
    }
    
}